@font-face {
	font-family: 'Novecento Sans Wide';
	font-weight: bold;
	src: url('../../static/fonts/Novecentosanswide-Bold.otf') format('opentype');
}

.react-player {
	position: absolute;
	top: 0;
	left: 0;
}
