@font-face {
	font-family: 'Novecento Sans Wide';
	font-weight: bold;
	src: url('/fonts/Novecentosanswide-Bold.otf') format('opentype');
}

@font-face {
	font-family: 'Montserrat';
	font-weight: normal;
	src: url('/fonts/Montserrat-Regular.otf') format('opentype');
}

.react-player {
	position: absolute;
	top: 0;
	left: 0;
}
