# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/
/.cache
/netlify/functions/server/build
/public/build
/.netlify


# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# dotenv environment variables file
.env
.env.test